.DS_Store
/.firebase
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

packages/admin/dist
packages/admin/node_modules

packages/functions/lib
packages/functions/node_modules

packages/front/node_modules
packages/front/dist
packages/front/firebase-debug.log
packages/functions/conversation.txt
packages/functions/firebase-debug.log
packages/dialogflow-e2e/private-key
packages/dialogflow-e2e/botiumwork
packages/dialogflow-e2e/botium.json
packages/dialogflow-e2e/googleConfig.json
.env*
