service cloud.firestore {
  match /databases/{database}/documents {
  
  	function existsSharing(userId, planningId) {
        return exists(/databases/$(database)/documents/plannings/$(planningId)/sharings/$(userId))
    }
    
    match /users/{userId} {
      allow get, update: if request.auth != null && request.auth.uid == userId;

      match /sharings/{sharing} {
        allow get, list: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /plannings/{planningId} {
      allow list: if request.auth != null && request.auth.uid != null;
      allow get: if request.auth != null && request.auth.uid != null;
      
      match /days/{day} {
        allow get, list, create, update: if existsSharing(request.auth.uid, planningId);
      }
      match /sharings/{sharing} {
        allow get, list: if existsSharing(request.auth.uid, planningId);
      }
      match /pending_sharings/{sharing} {
        allow get, list: if existsSharing(request.auth.uid, planningId);
      }
    }
  }
}